*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    width: 100%;
    color: #222222;
    letter-spacing: 0.5px;
}

.navbar {
    position: fixed;
    width: 100%;
    height: 6.188rem;
    padding-left: 28px;
    padding-right: 28px;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.menu1 {
    display: flex;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    color: #D88C9A;
    transition: .2s ease;
}

.menu2 {
    display: flex;
    height: 100%;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    color: #D88C9A;
    transition: .2s ease;
}

.menu1:hover {
    color:#34623F;
    transition: .2s ease;
}

.menu2:hover {
    color:#34623F;
    transition: .2s ease;
}

.active1 {
    display: flex;
    text-align: left;
    font-size: 20px;
    color: #D88C9A;
    transition: .2s ease;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
}

.active2 {
    display: flex;
    text-align: right;
    font-size: 20px;
    color: #D88C9A;
    transition: .2s ease;
    align-items: center;
    cursor: pointer;
    text-decoration: underline;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    display: block;
}

.header {
    width: 100%;
    max-width: 960px;
    height: 100vh;
    min-height: 680px;
    align-items: center;
    margin: 0 auto;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'DM Serif Text';
    font-size: 64px;
    font-weight: 500;
    margin: 16px 0;
}

h2 {
    font-family: 'DM Serif Text';
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

h3 {
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-weight: 500;
    font-size: 22px;
}

p {
    line-height: 1.77778rem;
    font-size: 18px;
}

.title {
    font-size: 24px;
}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
}

.h-space {
    padding-left: 40px;
}

.v-space {
    padding-top: 24px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    padding: 0 10% 48px;
    text-align: center;
}

.shadow {
    box-shadow: 10px 10px 10px 4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 10px 4px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 10px 4px rgba(0,0,0,0.25);
}

.card {
    width: 250px;
    margin: 10px;
    position: relative;
    cursor: pointer;
}

.image {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #D88C9A;
}

.card:hover .overlay {
    opacity: 90%;
}

.hovertext {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-content {
    padding: 64px 20%;
    display: none;
}

.profile-pic {
    width: 480px;
    padding: 30px 0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.fixed-column {
    width: 100%;
    max-width: 126px;
}

.nowrap {
    display: flex;
    flex-flow: nowrap;
}

.divider {
    padding-left: 20%;
    padding-right: 20%;
}

.solid {
    border-top: 1px solid #D88C9A;
}

.content-container {
    padding: 48px 20%;
}

.content1 {
    display: none;
}

.content2 {
    display: none;
}

.content3 {
    display: none;
}

.content4 {
    display: none;
}

.content5 {
    display: none;
}

.content6 {
    display: none;
}

.img-header {
    width: 100%;
}

.footer {
    padding: 72px 0;
    text-align: center;
    margin: 0 auto;
}

/*Responsive layout*/
@media screen and (max-width: 1044px) {
    .header {
        padding: 0 10%;
    }

    .box {
        justify-content: center;
    }
    
    .profile-pic {   
        width: 100%;
        max-width: 480px;
    }
}