*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    width: 100%;
    color: #222222;
}

/*----------------------------*/
/* DESKTOP FONT STYLE */
/* Intro Title */
.fs-intro {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 64px;
}

/* Title */
.fs-mt {
    font-family: "Times New Roman", Times, serif;
    font-size: 64px;
    font-weight: 700;
}

.fs-tl {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    line-height: 1.5;
}

.fs-tm {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.5;
}

.fs-ts {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 1.5;
}

/* Body */
.fs-bl {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 19px;
    line-height: 36px;
}

.fs-bm {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    line-height: 34px;
}

.fs-bs {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 32px;
}

/* MOBILE FONT STYLE */
@media screen and (max-width: 1044px) {
    /* Title */
    .fs-tl {
        font-family: "Times New Roman", Times, serif;
        font-size: 18px;
        line-height: 1.5;
    }

    .fs-tm {
        font-family: "Times New Roman", Times, serif;
        font-size: 16px;
        line-height: 1.5;
    }

    .fs-ts {
        font-family: "Times New Roman", Times, serif;
        font-size: 14px;
        line-height: 1.5;
    }

    /* Body */
    .fs-bl {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 14px;
        line-height: 24px;
    }

    .fs-bm {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 12px;
        line-height: 22px;
    }

    .fs-bs {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 10px;
        line-height: 20px;
    }
}

/* FOOTER FONT STYLE */
.fs-footer-bs {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

@media screen and (max-width: 1044px) {
    .fs-footer-bs {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 11px;
    }
}

/*----------------------------*/
/* HYPERLINK TEXT */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

a:active {
    color: inherit;
}

/*----------------------------*/
/* NAVIGATION */
.home-navbar {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    padding-top: 24px;
    background-color: #FFFBF8;
    z-index: 1000;
    left:0;
}

.about-navbar {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    padding-top: 24px;
    background-color: #C0BBB8;
    z-index: 1000;
    left:0;
}

.navbar-cont {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-home {
    color: #6B5B06;
    text-decoration: underline;
}

.navbar-home:hover {
    color: #FCE25D;
    cursor: pointer;
}

.navbar-home:active {
    color: #FCE25D;
}

.navbar-about {
    color: #6B5B06;
    text-decoration: underline;
}

.navbar-about:hover {
    color: #CCAB00;
    cursor: pointer;
}

.navbar-about:active {
    color: #CCAB00;
}

/*----------------------------*/
/* HOMEPAGE & ABOUT SECTION */
.homepage-cont {
    padding: 0 64px;
    background-color: #FFFBF8;
}

.wdd1-cont, .wdd2-cont, .wdd3-cont, .do1-cont, .do2-cont {
    background-color: #FFFBF8;
}

/*----------------------------*/
/* SECTION */
.intro {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7%;
    justify-content: space-evenly;
    align-items: center;
}

.aboutme {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11%;
    justify-content: space-evenly;
    align-items: start;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11%;
    text-align: left;
    width: 100%;
    max-width: 630px;
}

.t-separator {
    margin-bottom: 34px;
}

.p-separator {
    margin-bottom: 16px;
}

.b-separator {
    margin-bottom: 54px;
}

/*----------------------------*/
/* DISPLAY SCRIPT */
.homepage {
    display: block;
}

.about {
    display: none;
}

.wdd1 {
    display: none;
}

.wdd2 {
    display: none;
}

.wdd3 {
    display: none;
}

.do1 {
    display: none;
}

.do2 {
    display: none;
}

/*----------------------------*/
/* HOMEPAGE */
.gallery {
    text-align: center;   
}

.gallery-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-cont-box {
    border-style: solid;
    border-width: 1px;
    border-color: #C0BBB8;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.gallery-cont-menu {
    padding: 24px 0;
    width: 368px;
    font-family: 'Times New Roman', Times, serif !important;
}

.gallery-cont-menucont {
    padding: 24px 0;
    line-height: 1.5;
    color: #6B5B06;
    text-decoration: underline;
}

.gallery-cont-menucont:hover {
    color: #CCAB00;
    cursor: pointer;
}

.gallery-cont-menucont:active {
    color: #CCAB00;
}

hr.edit {
    border: 1px solid #C0BBB8;
    margin: 0;
}

/*----------------------------*/
/* ABOUT */
.about-cont {
    background-color: #C0BBB8;
    padding: 0 64px;
}

.aboutme-cont {
    width: 100%;
    max-width: 594px;
}

.aboutme-contactcont {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.aboutme-contactcont {
    color: #6B5B06;
    text-decoration: underline;
}

.cont1:hover {
    color: #FCE25D;
    cursor: pointer;
    text-decoration: underline;
}

.cont1:active {
    color: #FCE25D;
    text-decoration: underline;
}

.cont2:hover {
    color: #FCE25D;
    cursor: pointer;
    text-decoration: underline;
}

.cont2:active {
    color: #FCE25D;
    text-decoration: underline;
}

/*----------------------------*/
/* CONTENT */
.cont-intro {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.paragraph {
    width: 100%;
    max-width: 814px;
}

.cont-padding {
    padding: 0 146px;
}

.cont-img {
    padding: 74px 0;
}

.cont-section {
    padding-top: 74px;
}

.cont-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 114px;
}

.cont-title {
    padding-top: 74px;
    padding-bottom: 44px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.cont-dp {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-bottom: 74px;
}

.cont-dp-desc {
    width: 100%;
    max-width: 444px;
}

.dark-bg-content {
    background-color: #C0BBB8;
}

.light-bg-content {
    background-color: #FFFBF8;
}

.cont-l-hl:hover {
    color: #FCE25D;
    cursor: pointer;
}

.cont-l-hl:active {
    color: #FCE25D;
}

.cont-d-hl:hover {
    color: #CCAB00;
    cursor: pointer;
}

.cont-d-hl:active {
    color: #CCAB00;
}

/*----------------------------*/
/* FOOTER */
.footer {
    padding-top: 114px;
    padding-bottom: 64px;
    text-align: center;
    margin: 0 auto;
}